@page "/blogs"
@inject Microsoft.AspNetCore.Components.NavigationManager navigation


<PageTitle>لیست خبرها</PageTitle>

<h1>لیست خبرها</h1>
<button class="btn btn-primary mb-2" @onclick="@(() => navigation.NavigateTo("/blog/create"))">افزودن</button>

@if (pagedData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>عنوان</th>
                <th>توضیحات</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in pagedData.QueryResult)
            {
                <tr>
                    <td>
                        @counter @{
                            counter++;
                        }
                    </td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        <button class="btn btn-info" @onclick="@(() => navigation.NavigateTo($"/blog/update/{item.Id}"))">ویرایش</button>
                        <button class="btn btn-danger" @onclick="() => Delete(item.Id)">حذف</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

